

:root{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8px;
    --red: #ff0000;
    --green: #61DD00;
    --light-green: #89ff21;
    --white: white;
    --orange: rgb(255, 98, 0);
    --blue: #00ffec;
    --purple: rgb(187, 46, 187);
    --dark-purple: rgb(67 55 157);
    --light-pink: rgb(255, 47, 255);
    --light-dark: rgb(32, 32, 32);
}

body{
    font-family: 'Inter';
}

