:root{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6px;
    --red: #ff0000;
    --green: #61DD00;
    --light-green: #89ff21;
    --white: white;
    --orange: rgb(255, 98, 0);
    --blue: #00ffec;
    --purple: rgb(187, 46, 187);
    --dark-purple: rgb(67 55 157);
    --light-pink: rgb(255, 47, 255);
    --light-dark: rgb(32, 32, 32);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter';
    overflow-x: hidden;
}

.main-section{
    // background-image: linear-gradient(45deg, black, #110927);
    // background-image: linear-gradient(16deg, black, #110927, rgb(100, 2, 76));
    background-image: linear-gradient(16deg, black, #110927, #490709);



}

.personal-img{
    // border-radius: 25em;
    padding: 30px;
    width: 420px;
    height: 420px;
    border: 12px solid #FB3137;

}

.navbar{
    color: white;
    font-size: 3rem;
    font-weight:500;
    // background-color: #270414;
    background-image: linear-gradient(152deg, #270414, black);
    box-shadow: 0px 0px 7px 0px rgba(251, 49, 56, 0.8901960784);

   .nav-links{
        svg{
            height: 35px;
            width: 35px;
            fill: #fb3138e3;
        }
   }
}

.comments{
    color: #c3a4af;
}

.links{
    font-size: 3.5rem;
    // margin-inline:100px;
    margin-left: 15%;
    align-self: center;
    text-decoration: underline;
    a{
        color: #FB3137;
    }
}