.main.contact{

}

@media screen and (max-width: 800px) {
    .nav-link{
        font-size: 2rem;
    }

    .main {
        h1{
            font-size: 5rem;
        }

        h2{
            font-size: 4rem;
        }

        .explore-link, p{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 580px) {

     .main.career {
        height: 50%;
     }

}