.main.inbox{
    // display: flex;
//    justify-content: flex-start;
   background-image: none;
   box-shadow: none;
}

.inbox {
    font-size: 3rem;
    .inbox-container {
        background-color: black;
    }
    .messages-list{

        .message-container{
            width: 30vw;
            color:black;
            font-weight: 600;
            border-radius: .3rem;

            .message-data{
                p{
                    font-size:3rem;
                }

                .btn-container{
                    button{
                        font-size: 2rem;
                    }
                }

             }

            button:hover{
                background-color: gray;
            }

            .message-content{
                .user-data{
                    border-right: 1px solid black;
                }

                div p{
                    color: rgb(61, 62, 65);
                    font-size: 2rem;
                    font-weight: 400;
                    strong{
                        color: black;
                        font-weight: 700;
                    }
                }
            }

        }
    //     li{
    //         color: white;
    //         border-radius: .3em;
    //         font-size: 3rem;
    //         p{
    //             font-size: 1.8rem;
    //         }

    //         button{
    //             font-size: 2rem;
    //         }
    //     }
    }
}