

nav .brand:hover {
  color: var(--light-green);
  text-shadow: -2px 0px 25px rgb(30, 243, 76);
}

nav ul {
  display: flex;
  gap: 1em;
  font-size: 21px;
  color: var(--light-green);
}

.active {
  background-color: var(--normalBlue);
  padding: 1px 4px;
}

.nav-list .item:hover {
  color: var(--light-green);
  text-shadow: -1px -1px 35px rgb(30, 243, 76);
}
