.contact-links a {
  font-size: 5rem;
  color: var(--light-green);
  margin-top: auto;
  transition: 0.2s ease-in;
}

.contact-links .icon {
  height: 60px;
  width: 60px;
}

.contact-links a:hover svg {
  color: white;
  background-color: var(--light-green);
  border-radius: 0.3em;
  box-shadow: 1px -1px 10px var(--light-green);
  transition: 0.2s ease-in-out;
}

.contact-links a:hover {
  text-decoration: underline;
  text-shadow: -2px 0px 35px rgb(30, 243, 76);
}

.submit-btn:hover,
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: -1px 0px 25px var(--light-green);
}
