footer .icon {
  color: var(--dark);
}

footer .item {
  color: var(--dark);
  font-weight: 600;
}

.footer-container ul .item:hover {
  color: white;
}

.footer-container .icon:hover {
  color: white;
}
