.brand {
  font-size: 5rem;
  color: var(--light-green);
}

nav .brand:hover {
  text-shadow: -2px 0px 25px rgb(30, 243, 76);
}

.toggle {
  border: 1px solid var(--light-green);
  padding: 3px;
}

.toggle:hover {
  padding: 4px;
  box-shadow: -2px 0px 25px rgb(30, 243, 76);
}

.close-toggle-btn{
  transition: .3s ease-in-out;
}

.close-toggle-btn:hover{
  text-shadow: -2px 0px 25px rgb(30, 243, 76);
  font-weight: 700;
}

.sidebar{
  background-image: repeating-linear-gradient(127deg, black, var(--light-dark) 207px);
  width: 320px;
  transition: .2s ease-in-out;
  animation: displayElement .02s ease-in-out ;
}

@keyframes displayElement {
  0%{
    width: 0px;
  }

  50%{
    width:160px;
  }

  100% {
    bottom: 320px;
  }

}