.brand {
  font-size: 8rem;
  color: white;
  font-weight:700;
  transition: .2s ease-in-out;
  text-shadow: -2px 3px 0px var(--purple);
}

nav .brand:hover {
  text-shadow: -2px 4px 0px var(--purple);
  font-size: 8.2rem;
}

nav .item:hover{
  text-decoration: underline;
}

.active {
  background-color: var(--normalBlue);
  padding: 1px 4px;
}

.toggle div{
  transition: .2s ease-in-out
}

.toggle:hover div{
  box-shadow: none;
  box-shadow: 5px 4px 2px var(--purple);
  height: 10px;
}

.close-toggle-btn{
  color: white;
  font-size: 10rem;
  transition: .2s ease-in-out;
}

.close-toggle-btn:hover{
  text-shadow: 3px 1px 0px var(--pink);
  font-weight: 700;
}

.sidebar{
  width: 320px;
  transition: .2s ease-in-out;
  animation: displayElement .02s ease-in-out ;
}

.sidebar .item:hover{
  text-shadow: 3px 1px 0px var(--pink);
}

.sidebar-social-links  a svg{
  color: var(--purple);
}

.sidebar-social-links  a:hover svg{
  color: var(--pink);
}


@keyframes displayElement {
  0%{
    width: 0px;
  }

  50%{
    width:160px;
  }

  100% {
    bottom: 320px;
  }

}

@media screen and (max-width: 430px){
  .brand {
    font-size: 6rem;
    color: white;
    font-weight:700;
    transition: .2s ease-in-out;
    text-shadow: -2px 3px 0px var(--purple);
  }
  
  nav .brand:hover {
    text-shadow: -2px 4px 0px var(--purple);
    font-size: 6.2rem;
  }
}