
.contact-buttons {
  display: flex;
}

.contact-buttons button {
  font-family: "Orbitron", sans-serif;
  transition: 0.2s ease-in-out;
}

.contact-buttons button:first-child {
  background-color: var(--purple);
}

.contact-buttons button:nth-child(2) {
  background-color: var(--light-dark);
  color: var(--purple);
  outline: 1px solid var(--purple);
}

.contact-buttons button:first-child:hover {
  background-color: var(--dark-purple);
  box-shadow: 1px -1px 20px var(--dark-purple);
}

.contact-buttons button:nth-child(2):hover {
  background-color: var(--dark);

  box-shadow: 1px -1px 20px var(--dark-purple);
}

.social-links a {
  text-decoration: none;
  color: none;
  cursor: pointer;
  background-color: var(--light-dark);
}

.social-links a:hover {
  background-color: var(--dark-purple);
  border-radius: 2em;
  box-shadow: 1px -1px 10px var(--dark-purple);
  transition: 0.2s ease-in-out;
}

.social-links a:hover svg {
  color: white;
  padding: 5px;
}
