.contact-buttons {
  display: flex;
}

.contact-buttons a {
  transition: 0.2s ease-in-out;
}

.contact-buttons a:first-child {
  background-color: var(--dark-purple);
}

.contact-buttons a:nth-child(2) {
  color: var(--purple);
  outline: 1px solid var(--purple);
}

.contact-buttons a:first-child:hover, .contact-buttons a:nth-child(2):hover {
  transform: scale(1.1);
}

.contact-buttons a:nth-child(2):hover {
  color: white;
  background-color: var(--dark-purple);
  outline: none;
}

.social-links a {
  text-decoration: none;
  color: none;
  cursor: pointer;
  background-color: var(--light-dark);
}

.social-links a:hover {
  /* background-color: purple; */
  border-radius: 2em;
  /* box-shadow: 1px -1px 10px var(--dark-purple); */
  transition: 0.2s ease-in-out;
}

.social-links a svg {
  transition: 0.2s ease-in-out;
}

.social-links a:hover svg {
  color: white;
  transform: scale(1.2);
}
