@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space: 5px;
  font-size: 6px;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
  --light-green: #27fb6b;
  --dark-green: #0a2e36;
  --dark: #0b0a0a;
  --light-dark: #0f0f0f;
  --light-gray: #dcdde8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--light-dark);
}

.navbar {
  background-color: var(--light-dark);
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 50px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calc(var(--space) * 8);
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  /* border-bottom: 1px outset var(--light-green); */
  /* box-shadow: 0px .5px 8px var(--light-green); */
}

.brand {
  text-decoration: none;
  font-size: 3.5rem;
  color: white;
  transition: 0.2s ease-in;
}

.navbar .brand:hover {
  color: var(--light-green);
  text-shadow: -2px 0px 25px rgb(30, 243, 76);
}

.navbar ul {
  display: flex;
  gap: 1em;
  font-size: 21px;
}

.active {
  background-color: var(--normalBlue);
  padding: 1px 4px;
}

.item {
  font-size: 3rem;
  list-style: none;
  font-weight: 400;
  color: var(--light-green);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-transform: uppercase;
}

.navbar .item:hover {
  /* color: white; */
  text-decoration: underline;
  color: var(--light-green);
  text-shadow: 1px 2px 30px rgb(0, 255, 55);
}

@keyframes hideElement {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes moveElement {
  0%,
  100% {
    bottom: 10px;
  }

  50% {
    bottom: 20px;
  }
}

.navbar, .section, footer{
  padding-inline: calc(var(--space) * 20);
}

.section {
  font-size: 2em;
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  /* padding-inline: calc(var(--space) * 8); */
  /* padding-inline: calc(var(--space) * 20); */
  justify-content: space-evenly;
}

.gridContainer {
  min-width: 100vw;
  display: grid;
  grid-template-rows: 100svh 100svh 100svh 100svh 20svh ;
  grid-template-columns: repeat(1, 100svw);
}

.gridItem {
  position: relative;
}

.introduction h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 12rem;
  margin-top: 50px;
  text-shadow: -.5px 0px 5px var(--light-green);

}

.introduction h2 {
  font-family: "Orbitron", sans-serif;
  color: var(--light-green);
  font-size: 10rem;
  text-shadow: -.5px 0px 6px var(--light-green);
}

.introduction h2 span {
  animation: hideElement 1s infinite;
  display: inline-block;
}

.phrase {
  font-family: "Raleway", sans-serif;
  color: var(--light-gray);
  font-size: 3rem;
  font-weight: lighter;
  width: 50%;
}

.contact-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.contact-buttons button {
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  border: none;
  padding: 5px;
  font-size: 5rem;
  transition: 0.2s ease-in;
  padding: 15px;
}

.contact-buttons button:first-child {
  background-color: var(--light-green);
}

.contact-buttons button:nth-child(2) {
  background-color: var(--light-dark);
  color: var(--light-green);
  outline: 1px solid var(--light-green);
}

.contact-buttons button:first-child:hover {
  background-color: #48ff83;
  transform: rotate(34deg, 0);
  box-shadow: -5px 0px 0px beige;
  text-shadow: -2px 0px 0px black;
}

.contact-buttons button:nth-child(2):hover {
  background-color: var(--dark);
  transform: rotate(34deg, 34deg);
  box-shadow: -5px 0px 0px beige;
  text-shadow: -2px 0px 0px var(--diveGreen);
  outline: none;
}

.social-links a {
  text-decoration: none;
  color: none;
  padding: 5px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  /* background-color: var(--light-green); */
  padding: 3px;
  cursor: pointer;
  transition: 0.2s ease-in;
  color: var(--light-green);
}

.section .icon:hover {
  background-color: #48ff83;
  /* transform: rotate(34deg, 0); */
  color: white;
  /* box-shadow: -5px 0px 0px beige; */
}

.scroll-helper {
  display: grid;
  gap: 10px;
  width: 50px;
  height: 100px;
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.scroll-helper div {
  width: 15px;
  height: 15px;
  background-color: cyan;
}

.scroll-helper div:first-child {
  background-color: white;
}

.scroll-helper div:hover {
  transform: rotate(34deg, 0);
  background-color: var(--pink);
}

.scroll-mouse {
  display: grid;
  gap: 10px;
  width: 30px;
  height: 40px;
  border-radius: 1em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveElement 1.5s ease-in infinite;
}

.scroll-mouse div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 0.3em;
}

.about {
  background-color: var(--dark);
}

/* .about h3{
  margin-top: 30px;
} */

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-content figure img {
  max-width: 70%;
  object-fit: cover;
  border-radius: 0px 8em 0em 8em;
}

.about-description {
  display: grid;
  grid-template-rows: 1fr 60%;
  gap: 15px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-content h3 {
  font-size: 6rem;
}

.about-content .phrase {
  color: var(--light-gray);
  width: 100%;
}

.job {
  color: var(--vibrantPink);
  font-weight: 600;
}

.techs span {
  color: var(--light-green);
  font-weight: 600;
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-columns: auto;
  gap: 20px;
  margin-top: 5px;
}

.technologies-container svg {
  width: 40px;
  max-width: 45px;
  object-fit: cover;
  height: auto;
}

.projects {
  background-image: linear-gradient(
    163deg,
    var(--light-dark),
    var(--light-dark) 62%,
    var(--light-green) 60%,
    var(--light-green)
  );

}

h2, h3, h4 {
  color: var(--light-green);
}

h3{
  font-size: 8rem;
}

h4{
  font-size: 5rem;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  width: auto;
}

.description .phrase {
  width: auto;
}

.description .phrase span {
  color: var(--light-green);
  font-weight: bold;
}

.description-container figure {
  display: flex;
  justify-content: end;
}


.description-container figure img {
  max-width: 70%;
  height: auto;
}

.projects-links {
  width: 50%;
  gap: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-links {
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 5rem;
  transition: 0.2s ease-in;
}

.projects-links a {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  padding: 15px;
  font-weight: bolder;
  text-align: center;
  transition: 0.2s ease-in;
}

.projects-links a:first-child {
  background-color: var(--light-green);
  color: var(--dark);
}

.projects-links a:nth-child(2) {
  background-color: var(--dark);
  color: white;
}

.projects-links a:first-child:hover {
  transform: rotate(34deg, 0);
  box-shadow: -5px 0px 0px beige;
  text-shadow: -1px 0px 0px black;
}

.projects-links a:nth-child(2):hover {
  background-color: #030000;
  transform: rotate(34deg, 34deg);
  box-shadow: -5px 0px 0px beige;
  text-shadow: -1px 0px 0px white;
  outline: none;
}

.contact {
  background-color: var(--dark);
}

.contact h2{
  color: var(--light-green);
}

.contact-container{
  display: grid;
  grid-template-columns: 50% 50%;
  /* height: 50%; */
}

.contact-container figure{
  display: flex;
  justify-content: end;
}

.contact-container figure img{
  object-fit: cover;
  max-width: 80%;
  height: auto;
}

.links {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.links div{
  display: flex;
  flex-direction: row wrap;
  flex-grow: 1;
  gap: 10px;
}

.links div img{
  object-fit: cover;
  max-width: 120px;
  height: auto;
  object-fit: contain;
  margin-top: auto;
}

.links div a{
  font-size: 6rem;
  color: var(--light-green);
  text-decoration: none;
  margin-top: auto;
  transition: 0.2s ease-in;
}

.links div a:hover{
  color: white;
}

footer{
  background-color: var(--light-green);
  font-size: 3.5rem;
  display: flex;
  /* justify-content: center; */
}

footer .icon {
  color: var(--dark);
}

.footer-container{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-container div{
  display: flex;
  justify-content: center;
}


footer .item{
  color: var(--dark);
  font-weight: 600;
}

.footer-container ul .item:hover{
  color: white;
}

footer ul{
  display: flex;
  gap: 10px;
}

.footer-container .icon:hover{
  color: white;
}

footer p{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

