.contact-links a svg,
.submit-btn {
  transition: 0.2s ease-in-out;
}
.contact p {
  font-family: var(--font-raleway);
}
.contact-form label,
.submit-btn {
  font-family: var(--font-orbitron);
}
.contact-links a {
  font-size: 5rem;
  color: var(--purple);
  margin-top: auto;
  transition: 0.2s ease-in;
}
.contact-links a:hover svg {
  color: #fff;
  transform: scale(1.2);
}
.contact-links a:hover {
  text-decoration: underline;
  text-shadow: -2px 0 35px #1ef34c;
}
.contact-form label {
  font-size: 4.5rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid var(--purple);
  box-shadow: -1px 0 25px var(--purple);
}
.contact-form input:-webkit-autofill,
.contact-form textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--light-dark) inset !important;
  -webkit-text-fill-color: white !important;
  outline: 2px solid var(--purple);
}
.contact-form p {
  font-family: var(--font-raleway);
  font-weight: 500;
}
.submit-btn:hover {
  transform: scale(1.1);
}
@keyframes slideInOut {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-in-out {
  animation: slideInOut 3.8s ease forwards;
}
