.toggle div {
  height: 8px;
  box-shadow: 5px 4px 2px var(--purple);
}
.toggle:hover div {
  box-shadow: none;
  box-shadow: 6px 7px 2px var(--purple);
  height: 10px;
}

@media screen and (max-width: 430px) {
  .brand {
    font-weight: 700;
    text-shadow: -2px 3px 0 var(--purple);
  }
  nav .brand:hover {
    text-shadow: -2px 4px 0 var(--purple);
    transform: scale(1.05);
  }
}
