.introduction {
  font-family: var(--font-orbitron);
}
.introduction p {
  font-family: var(--font-raleway);
}
.contact-buttons a:nth-child(2) {
  outline: 1px solid var(--purple);
}
.contact-buttons a:nth-child(2):hover {
  color: #fff;
  background-color: var(--purple);
  outline: 0;
}
