.description .phrase span {
  color: var(--light-green);
  font-weight: bold;
}

.projects-links a {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  padding: 15px;
  font-weight: bolder;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.projects-links a:first-child {
  background-color: white;
  color: var(--dark);
}

.projects-links a:nth-child(2) {
  background-color: var(--light-dark);
  outline: 1px solid var(--light-green);
  color: white;
}

.projects-links a:first-child:hover {
  background-color: var(--light-dark);
  color: white;
  transform: rotate(34deg, 0);
  box-shadow: -5px 0px 0px beige;
  text-shadow: -1px 0px 0px black;
  box-shadow: 1px -1px 20px var(--light-green);
  outline: 1px solid var(--light-green);
}

.projects-links a:nth-child(2):hover {
  background-color: #030000;
  transform: rotate(34deg, 34deg);
  text-shadow: -1px 0px 0px white;
  box-shadow: 1px -1px 20px var(--light-green);
}

.filter {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.filter button {
  flex-grow: 1;
  font-size: 4rem;
  padding: 5px;
  font-family: var(--font-orbitron);
  outline: 1.5px outset var(--pink);
  color: var(--pink);
  transition: 0.2s ease-in-out;
  border-radius: 1px 0px 0px 10px;
}

.filter button:hover {
  outline: 3px outset white;
  color: white;
  transform: scale(1.05);
}

.project-detail {
  display: flex;
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: var(--dark-purple);
  flex-flow: column;
  /* justify-contemt: space-around; */
  transition: bottom 0.3s ease-in-out;
}

.project-detail h3 {
  font-size: 8rem;
  font-family: var(--font-orbitron);
}

.project-detail p {
  font-size: 3.8rem;
  font-family: var(--font-raleway);
}

.project-item:hover .project-detail {
  bottom: 0;
  opacity: 0.95;
}

.project-information-container{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-information-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  width: 80%;
  background-color: var(--light-dark);
  max-width: 80%;
  padding: 25px;
  gap: 15px;
}

.project-information-card h4,
.project-information-card h5 {
  color: var(--pink);
  font-weight: bold;
}

.project-information-card h4 {
  font-size: 5rem;
}

.project-information-card h5 {
  font-size: 4.5rem;
}

.project-information-card p,
.project-information-card a {
  color: var(--light-gray);
}

.project-information-card p {
  font-size: 4rem;
}

.project-information-card a {
  font-size: 4.2rem;
}
.project-information-card .project-links {
  display: flex;
  gap: 10px;
}

.project-information-card .project-links svg {
  color: white;
  height: 25px;
  width: 25px;
}

.project-information-card .stack {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.project-information-card .stack li {
  font-size: 3.2rem;
  color: var(--light-gray);
  list-style: inside;
  font-weight: 700;
}
