.project-information-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
  background-color: var(--light-dark);
  max-width: 80%;
  padding: 15px;
  gap: 8px;
  font-size: 4.2rem;
}

.project-information-card .container {
  display: flex;
  gap: 20px;
}
.project-information-card h4,
.project-information-card h5 {
  color: var(--pink);
  font-weight: 700;
}
.project-information-card h4 {
  font-size: 5rem;
}
.project-information-card h5 {
  font-size: 4.5rem;
}
.project-information-card a,
.project-information-card p {
  color: var(--light-gray);
}
.project-information-card p {
  font-size: 4rem;
}
.project-information-card .project-links {
  display: flex;
  gap: 10px;
}
.project-information-card .project-links svg {
  color: #fff;
  height: 25px;
  width: 25px;
}
.project-information-card .stack {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}
.project-information-card .stack li {
  font-size: 3.2rem;
  color: var(--light-gray);
  list-style: inside;
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .project-information-card {
    top: 60px;
    transform: translate(-50%, 0);
    gap: 4px;
  }
  .project-information-card p {
    font-size: 3.5rem;
  }
  .project-information-card .container {
    flex-flow: column;
    gap: 0;
  }
  .project-information-card .stack {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 700px) {
  .project-links {
    flex-direction: column;
    text-align: center;
  }
  .project-links a {
    justify-content: center;
  }
}
