@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito+Sans:wght@200&display=swap');

:root{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    --green: #61DD00;
    --white: white;
    --orange: rgb(255, 98, 0);
}

#logo-img{
    height: 60px;
    max-width: 100%;
    object-fit: contain;
}

.nav-link{
    color: white;
    transition: .3s ease-in-out;
}

.nav-link:hover{
    color: #61DD00
}

.icons{
    border-radius: .3rem;
}

.icons a{
    text-decoration: none;
}

.icons svg{
    /* fill: #61DD00; */
    fill: #ffffff;

    transition: .2s ease-in;
    height: 45px;
    width: 45px;
}

.footer svg{
    height: 35px;
    width: 35px;
    fill: #ffffff;
}

svg:hover{
    /* fill: #ffffff; */
    fill: #61DD00;

}



.section-content div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-size: 1.5rem;
    margin-left: 5px;
}

.active{
    border-bottom: 1px solid var(--green);
    display: inline;
}

.explore-link{
    color:var(--green);
    padding:10px;
    /* border-radius: .3em; */
    /* border: none; */
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    cursor:pointer;
    animation: light 1s infinite;
}

.explore-link:hover{
    color: white;
    
}

.project-link svg{
    /* margin-top: 10px; */
    fill: black

}

@keyframes light {
    from {
        border-bottom: none;
    }
    to {
        border-bottom: 1px solid var(--green);
    }
}