@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito+Sans:wght@200&display=swap');

:root{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    --green: #61DD00;
    --white: white;
}

#logo-img{
    height: 40px;
    max-width: 100%;
    object-fit: contain;
}

.links{
    color: white;
    transition: .3s ease-in-out;
}

.links:hover{
    color: #61DD00
}

.icons{
    border-radius: .3rem;
}

.icons a{
    text-decoration: none;
}
