@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito+Sans:wght@200&display=swap');

:root{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    --green: #61DD00;
    --white: white;
    --orange: rgb(255, 98, 0);
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
  }

/* #video-background video{

}

 */



 .main{
    z-index: 1;
}



#logo-img{
    height: 60px;
    max-width: 100%;
    object-fit: contain;
}

.nav-item{
    color: white;
    transition: .3s ease-in-out;
}

.nav-item:hover{
    color: #61DD00
}

.icons{
    border-radius: .3rem;
}

.icons a{
    text-decoration: none;
}

.icons svg{
    /* fill: #61DD00; */
    fill: #ffffff;

    transition: .2s ease-in;
    height: 45px;
    width: 45px;
}

.dark-icon svg{
    /* fill: #61DD00; */
    fill: #000000;

    transition: .2s ease-in;
    height: 45px;
    width: 45px;
}

footer svg{
    height: 35px;
    width: 35px;
    fill: #ffffff;
}

svg:hover{
    /* fill: #ffffff; */
    fill: #61DD00;

}



.section-content div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-size: 1.5rem;
    margin-left: 5px;
}

.active{
    border-bottom: 1px solid var(--green);
    display: inline;
}

.explore-link{
    color:var(--green);
    padding:10px;
    /* border-radius: .3em; */
    /* border: none; */
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    cursor:pointer;
    animation: light 1s infinite;
}

.explore-link:hover{
    color: white;
    
}

.project-link svg{
    /* margin-top: 10px; */
    fill: black
}

.greetings-container{
    min-height: 80vh;
    z-index: 1;
    position: fixed;
    margin-inline: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.greetings h1{
    color: var(--green);
    /* text-align: center;
    font-weight: 400;
    font-size: 5.5rem; */

}


.greetings h2{
    color: var(--green); 
    font-weight: 200;
    text-align: center; 
    font-size:2.5rem;
}


@keyframes light {
    from {
        border-bottom: none;
    }
    to {
        border-bottom: 1px solid var(--green);
    }
}

@media screen and (max-width: 700px) {
    .greetings h1{
        font-size: 3.5rem;
    }

    .greetings h2{
        font-size: 2rem;
    }


    .graduation h1, .graduation p{
        font-size: 2rem;
    }

    .career-container{
        border: 5px solid var(--green);
        padding: 0;
    }

    .career{
        padding: 0;
        margin: 0;
    }

    .career h1{
        font-size: 2rem;
    }

    .career p{
        font-size: 1.5rem;
    }

    .projects{
        border: none;
    }
}

